<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.reimbursement.dao.InvoiceStatusDao">

	<resultMap id="invoiceStatusMap"
		type="cn.reimbursement.pojo.Process">
		<id property="invoiceStatusId" column="invoice_status_id" />
		<result property="invoiceStatusName" column="invoice_status_name" />
	</resultMap>

	<sql id="invoiceStatusColums">
		invoice_status_id,invoice_status_name
	</sql>
	<select id="selectInvoiceStatusName" resultType="java.lang.String">
		SELECT
		invoice_status_name
		FROM invoice_status
	</select>
</mapper>