<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.reimbursement.dao.ProcessStatusDao">

	<resultMap id="processStatusMap"
		type="cn.reimbursement.pojo.ProcessStatus">
		<id property="processStatusBillId" column="process_status_bill_id" />
		<result property="processStatusProcessName"
			column="process_status_process_name" />
		<result property="processStatusState"
			column="process_status_state" />
		<result property="processStatusOpinion"
			column="process_status_opinion" />
		<result property="processStatusStep"
			column="process_status_step" />
		<result property="processStatusCompany"
			column="process_status_company" />
		<result property="processStatusAuditor"
			column="process_status_auditor" />
		<result property="processSatusLastUpload"
			column="process_satus_last_upload" />
	</resultMap>

	<sql id="processStatusColums">
		process_status_bill_id,process_status_process_name,process_status_state,process_status_opinion,process_status_step,process_status_company,
		process_status_auditor,process_satus_last_upload
	</sql>
	<insert id="insertProcessStatus">
		INSERT INTO
		process_status(process_status_bill_id,process_status_process_name,process_status_state,process_status_step,process_status_company)
		VALUES(#{processStatusBillId},#{processStatusName},#{processStatusState},#{processStatusStep},#{processStatusBCompany})
	</insert>
	<select id="selectProcessStatusBillIds"
		resultType="java.lang.String">
		SELECT process_status_bill_id FROM process_status WHERE
		process_status_company=#{processStatusCompany} AND
		process_status_process_name=#{processStatusProcessName} AND
		process_status_state='待审核'
	</select>
	<select id="selectCountByBillId" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM
		process_status WHERE process_status_bill_id=#{billId}
	</select>
	<update id="updateStateByStep">
		UPDATE process_status SET
		process_status_state=#{audit},process_status_auditor=#{StaffName},process_status_opinion=#{auditSummary}
		,process_satus_last_upload=now()
		WHERE process_status_step=#{step} AND
		process_status_bill_id=#{billId}
	</update>
	<select id="selectProcessStatusByBillIdProcessName"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM process_status WHERE
		process_status_bill_id=#{billId} AND
		process_status_company=#{processStatusCompany} AND
		process_status_process_name=#{processStatusProcessName} AND
		process_status_state='待审核'
	</select>
	<select id="selectNameStateOptionById" resultType="java.util.Map">
		SELECT process_status_process_name,process_status_state,process_status_opinion FROM process_status WHERE process_status_bill_id=#{billId}
	</select>
</mapper>