<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.reimbursement.dao.ProcessDao">

	<resultMap id="processMap"
		type="cn.reimbursement.pojo.Process">
		<id property="processId" column="process_id" />
		<result property="processCompany" column="process_company" />
		<result property="processDepartment"
			column="process_department" />
		<result property="processContent" column="process_content" />
		<result property="processCount" column="process_count" />
	</resultMap>

	<sql id="processColums">
		process_id,process_company,process_department,process_content,process_count
	</sql>
	<select id="selectProcessByCompanyAndDepartment"
		resultType="java.lang.String">
		SELECT
		process_content
		FROM process WHERE
		process_company=#{processCompany} AND
		process_department=#{processDepartment}
	</select>
</mapper>