<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.reimbursement.dao.ReiSubjectDao">

	<resultMap id="reiSubjectMap"
		type="cn.reimbursement.pojo.ReiSubject">
		<id property="reiSubjectId" column="rei_subject_id" />
		<result property="reiSubjectCompanyName" column="rei_subject_company_name" />
		<result property="reiSubjectDepName" column="rei_subject_dep_name" />
		<result property="reiSubjectContent" column="rei_subject_content" />
		<result property="reiSubjectComment" column="rei_subject_comment" />
	</resultMap>
	
	<sql id="reiSubjectColums">
		rei_subject_id,rei_subject_company_name,rei_subject_dep_name,rei_subject_content,rei_subject_comment
	</sql>
	<select id="selectDepContentCommentByCompanyDep" resultType="java.util.Map">
		SELECT
		rei_subject_dep_name,rei_subject_content,rei_subject_comment
		FROM rei_subject WHERE 1=1
		<if test="company != null and company !=''">
		 	AND rei_subject_company_name=#{company}
		</if>
		<if test="dep != null and dep !=''">
			AND rei_subject_dep_name=#{dep}
		</if>
		limit #{start},#{limit}
	</select>
	
	<select id="selectDepContentCommentByCompanyDepCount" resultType="java.lang.Integer">
		SELECT
		COUNT(*)
		FROM rei_subject WHERE 1=1
		<if test="company != null and company !=''">
		 	AND rei_subject_company_name=#{company}
		</if>
		<if test="dep != null and dep !=''">
			AND rei_subject_dep_name=#{dep}
		</if>
	</select>
</mapper>