<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账单明细增加</title>
    <link rel="stylesheet" href="/layui-v2.4.5/layui/css/layui.css" media="all">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/layui-v2.4.5/layui/layui.js"></script>
</head>
<body>
<table class="table-c" style="text-align: center" id="detailTable">
    <caption>支出（报销）账单明细新增</caption>
    <th width="28%">明细名</th>
    <th width="28%">金额</th>
    <th width="28%">发生时间</th>
    <th>
        <button class="layui-btn layui-btn-sm" id="addDetail">
            <i class="layui-icon">&#xe654;</i>
        </button>
    </th>
    <th style="padding-left: 6px">
        <button class="layui-btn layui-btn-sm" id="saveBillDetail" onclick="saveBillDetail()">确定保存
        </button>
    </th>
    <tr id="firstTr">
        <!--<td><input type="text"></td>-->
        <!--<td><input type="number"></td>-->
        <!--<td><input type="date"></td>-->
    </tr>
</table>
<script>
    //载入layer模块
    layui.use('layer', function () {
        var layer = layui.layer;
    });
    $("#addDetail").click(function () {
        $("table tbody").append("<tr>" +
            "<td><input type=\"text\"></td>" +
            "<td><input type=\"number\"></td>" +
            "<td><input type=\"date\"></td>"+
            "<td>" +
            "<button class='layui-btn layui-btn-sm' onclick='deleteTr(this)'>" +
            "    <i class='layui-icon'>&#xe640;</i>" +
            " </button>" +
            "</td>" +
            "</tr>"
        );
    });

    // $("#saveBillDetail").click(saveBillDetail());
    function saveBillDetail() {
        var data = {};
        data = getTableData();
        if (data != false) {
            parent.$("#billDetail").val(JSON.stringify(data));
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);//关闭当前页
        }
    }

    function getTableData() {
        var set = [];
        $('table tr').each(function () {
            var row = [];
            $(this).find('td').each(function () {
                if ($(this).find("input").length > 0) {
                    if ($(this).find("input").val() != "") {
                        let thisInputVal = $(this).find("input").val();
                        row.push(thisInputVal);
                    } else {
                        layer.msg("请输入必填字段！");
                        return false;
                    }
                }
                // } else {
                //     row.push($(this).text().trim());
                // }
            });
            if (row != [] && row != "") {
                set.push(row);
            }
        });
        return set;
    }

    $(document).ready(function () {
        var billDetail = parent.$("#billDetail").val();
        if (billDetail != "") {
            var temp = JSON.parse(billDetail);
            for (var i = 0; i < temp.length; i++) {
                $("#firstTr").before("<tr>" +
                    "<td><input type='text' value='" + temp[i][0] + "'></td>" +
                    "<td><input type='number' value='" + temp[i][1] + "'></td>" +
                    "<td><input type='date' value='" + temp[i][2] + "'></td>" +
                    "<td>" +
                    "<button class='layui-btn layui-btn-sm' onclick='deleteTr(this)'>" +
                    "    <i class='layui-icon'>&#xe640;</i>" +
                    "</button>" +
                    "</td>" +
                    "</tr>"
                );
            }
        }
    })
    function deleteTr(button) {
       $(button).parent().parent().remove();
    }
</script>
</body>
</html>