<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账单详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui-v2.4.5/layui/css/layui.css"
          media="all">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/layui-v2.4.5/layui/layui.js"></script>
    <script src="/js/tools.js"></script>
    <style type="text/css">
        .table-c {
            border-right: 1px solid #9F9F9F;
            border-bottom: 1px solid #9F9F9F;
            width: 100%;
            background-color: #f2fafe;
        }

        td {
            border-left: 1px solid #9F9F9F;
            border-top: 1px solid #9F9F9F;
            padding-top: 3px;
            padding-bottom: 8px;
        }

        .firstTd {
            width: 90px;
            text-align: right;
        }

        .thirdTd {
            width: 80px;
            text-align: right;
        }
    </style>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <font id="process"></font>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-xs-1"></div>
    <div class="layui-col-xs-10">
        <form id="selectForm" enctype="multipart/form-data"
              class="layui-form">
            <table class="table-c">
                <caption>账单审核</caption>
                <tr>
                    <td class="firstTd">报销单号</td>
                    <td><input type="text" style="width: 123px"
                               th:value="${session.bill.billId}" readonly name="bill_id" id="bill_id">
                    </td>
                    <td class="thirdTd">金额</td>
                    <td><input type="number" style="width: 80px" readonly
                               lay-verify="required" name="bill_amount"
                               th:value="${session.bill.billAmount}">元（保留两位小数）
                    </td>
                </tr>
                <tr>
                    <td class="firstTd">公司</td>
                    <td><input type="text" name="bill_company" readonly
                               th:value="${session.bill.billCompany}"></td>
                    <td class="thirdTd">产生日期</td>
                    <td><input type="date" readonly name="bill_produce_date"
                               th:value="${session.bill.billProduceDate}"></td>
                </tr>
                <tr>
                    <td class="firstTd">部门</td>
                    <td><input type="text" readonly lay-verify="required"
                               name="bill_reimbursement_dep"
                               th:value="${session.bill.billReimbursementDep}"></td>
                    <td class="thirdTd">登记日期</td>
                    <td><input type="date" readonly lay-verify="required"
                               name="bill_registrant_date"
                               th:value="${session.bill.billRegistrantDate}"></td>
                </tr>
                <tr>
                    <td class="firstTd">类别</td>
                    <td><input type="text" readonly name="bill_type"
                               th:value="${session.bill.billType}"></td>
                    <td rowspan="3" class="thirdTd">摘要 (费用产生原由）</td>
                    <td rowspan="3"><textarea name="bill_summary"
                                              placeholder="请输入内容" class="layui-textarea" readonly
                                              th:text="${session.bill.billSummary}"
                                              lay-verify="required"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="firstTd">科目</td>
                    <td><input type="text" id="subject" readonly
                               lay-verify="required" name="bill_subject"
                               th:value="${session.bill.billSubject}"></td>
                </tr>
                <tr>
                    <td class="firstTd">业务所属公司</td>
                    <td><input type="text" name="bill_belong_company"
                               lay-filter='selectCompany' readonly
                               th:value="${session.bill.billBelongCompany}"></td>
                </tr>
                <tr>
                    <td class="firstTd">报销人</td>
                    <td><input type="text" id="reiPerson" readonly
                               lay-verify="required" name="bill_reimbursement_person"
                               th:value="${session.bill.billReimbursementPerson}"></td>
                    <td class="thirdTd">发票</td>
                    <td><select id="selectInvoiceStatus" required lay-verify="required"
                                name="bill_invoice_status_name">
                        <option th:text="${session.bill.billInvoiceStatusName}"></option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="firstTd">经办人</td>
                    <td><input type="text" id="chargePerson" readonly
                               lay-verify="required" name="bill_charge_person"
                               th:value="${session.bill.billChargePerson}">
                    <td class="thirdTd">发票金额</td>
                    <td><input type="number" style="width: 80px" readonly
                               lay-verify="required" name="bill_invoice_amount"
                               th:value="${session.bill.billInvoiceAmount}" id="bill_invoice_amount">元（保留两位小数）
                    </td>
                </tr>
                <tr>
                    <td class="firstTd">登记人</td>
                    <td><input type="text" readonly
                               name="bill_registrant_person"
                               th:value="${session.bill.billRegistrantPerson}"></td>
                    <td class="thirdTd">合同</td>
                    <td><select id="selectContractStatus" required lay-verify="required"
                                name="bill_contract_status_name">
                        <option th:text="${session.bill.billContractStatusName}"></option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="firstTd">属性</td>
                    <td><input type="text" name="bill_attribute"
                               th:value="${session.bill.billAttribute}"></td>
                    <td class="thirdTd">审核意见</td>
                    <td><textarea name="audit_summary" placeholder="请输入内容"
                                  class="layui-textarea" lay-verify="required" id="audit_summary"></textarea></td>
                </tr>
                <tr>
                    <td class="firstTd"></td>
                    <td style="text-align: center">
                        <button class="layui-btn" lay-filter="auditPass" lay-submit
                                id="auditPass">审核通过
                        </button>
                        <h3 style="color: red" id="tip">您无权审核！</h3>
                    </td>
                    <td class="thirdTd"></td>
                    <td>
                        <button class="layui-btn layui-btn-danger"
                                lay-filter="auditPast" lay-submit id="auditPast">驳回
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</div>
<script>
    layui.use('element', function () {
        var element = layui.element;
    });
    layui.use('form', function () {
        form = layui.form;
        form.render();
        form.on('submit(auditPass)', function (data) {
            var index = layer.confirm('您确定要通过审核吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                layer.close(index);
                $.ajax({
                    url: '/bill/auditBill',
                    data: {
                        billId: $('#bill_id').val(),
                        audit_summary: $('#audit_summary').val(),
                        selectContractStatus: $('#selectContractStatus').val(),
                        selectInvoiceStatus: $('#selectInvoiceStatus').val()
                    },
                    async: false,
                    method: 'post',
                    success: function (result) {
                        if (result.status == 0) {
                            parent.layer.msg('审核已通过', {
                                icon: 1,
                                offset: '300px',
                                time: 1000
                            });
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);//关闭当前页
                        } else {
                            parent.layer.msg('审核失败，请联系系统管理员', {
                                icon: 3,
                                offset: '300px',
                                time: 1000
                            });
                        }
                    }
                })
            })
            return false;
        })
        form.on('submit(auditPast)', function (data) {
            //询问框
            var index = layer.confirm('您确定要驳回吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                layer.close(index);
                $.ajax({
                    url: '/bill/auditBill',
                    data: {
                        billId: $('#bill_id').val(),
                        audit_summary: $('#audit_summary').val(),
                        selectContractStatus: $('#selectContractStatus').val(),
                        selectInvoiceStatus: $('#selectInvoiceStatus').val()
                    },
                    async: false,
                    method: 'post',
                    success: function (result) {
                        if (result.status == 0) {
                            parent.layer.msg('已驳回', {
                                icon: 2,
                                offset: '300px',
                                time: 1000
                            });
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);//关闭当前页
                        } else {
                            parent.layer.msg('驳回失败，请联系系统管理员', {
                                icon: 3,
                                offset: '300px',
                                time: 1000
                            });
                        }
                    }
                })
            })
            return false;
        })
    })
    $(document).ready(function () {
        buildProcess();
        isAudit();

        //填充合同状态
        var contractStatus = selectContractStatus();
        romance(contractStatus, "selectContractStatus");

        //填充发票状态
        var invoiceStatus = selectInvoiceStatus();
        romance(invoiceStatus, "selectInvoiceStatus")

    })

    function isAudit() {
        var msg = [[${session.status}]];
        if (msg == 1) {
            $("#auditPass").hide();
            $("#auditPast").hide();
        } else {
            $("#tip").hide();
        }
    }

    //动态生成流程图
    function buildProcess() {
        $.ajax({
            url: '/processStatus/selectNameStateOptionById',
            data: {
                billId: $('#bill_id').val()
            },
            type: 'post',
            dataType:'json',
            success: function (result) {
                var list = result;
                $("#process").before("<font style='margin-left: -100px'>（单击流程查看审核意见）流程:</font>");
                for (var i = 0; i < list.length; i++) {
                    var processStatus = list[i];
                    if (processStatus.process_status_state == "待审核") {
                        var content = "<font style='color: orange;border-style: solid;cursor: pointer' id='"+i+"'>"
                            + processStatus.process_status_process_name + " " +" "+processStatus.process_status_auditor+" "+
                            processStatus.process_status_state + " </font>&nbsp;&nbsp;"
                    } else if ((processStatus.process_status_state == "已审核")) {
                        var content = "<font style='color: green;border-style: solid;cursor: pointer' id='"+i+"' onclick='summaryTip("+processStatus.process_status_opinion+","+i+")'>" + processStatus.process_status_process_name +
                            " " +" "+processStatus.process_status_auditor+" "+ processStatus.process_status_state + "   </font>&nbsp;&nbsp;"
                    } else if (processStatus.process_status_state == "已驳回") {
                        var content = "<font style='color: red;border-style: solid;cursor: pointer' id='"+i+"' onclick='summaryTip("+processStatus.process_status_opinion+","+i+")'>" + processStatus.process_status_process_name +
                            " " +" "+processStatus.process_status_auditor+" "+ processStatus.process_status_state + "   </font>&nbsp;&nbsp;"
                    } else if (processStatus.process_status_state == "") {
                        var content = "<font style='border-style: solid;cursor: pointer' id='"+i+"'>" + processStatus.process_status_process_name +
                            " " + processStatus.process_status_state + "   </font>&nbsp;&nbsp;"
                    }
                    $("#process").before(content);
                }
            }
        })
    }
    function summaryTip(content,i) {
        //小tips
        console.log(content+"----"+i);
        layer.tips(content, "#"+i, {
            tips: [3, '#3595CC'],
            time: 5000
        });
    }
</script>
</body>
</html>