<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>福正后台管理</title>
    <link rel="stylesheet" href="/layui-v2.4.5/layui/css/layui.css" media="all">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/layui-v2.4.5/layui/layui.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">台账系统</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"><label th:text="${session.staff.staffName}"></label>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/view/loginOut">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">台账</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">台账查看</a></dd>
                        <dd><a href="javascript:openAddBill();">新增报销</a></dd>
                        <dd><a href="javascript:addressList();">通讯录同步</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" layui-nav-itemed>
                    <a class="" href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" layui-nav-itemed>
                    <a class="" href="javascript:;">信息同步</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:addressList();">通讯录同步</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;margin-left: -80px" class="layui-row" >
            <iframe style="border: none;width: 100%;height: 1000px;" th:src="@{/view/toShow}">
            </iframe>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © fuzheng.com - 福正集团股份有限公司
    </div>
</div>


<script>
    layui.use('layer', function(){
        var layer = layui.layer;
    });

    function openAddBill() {
        layer.open({
            type: 2,
            title: '支出（报销）新增',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area : ['820px' , '620px'],
            content: '/view/toAddBill'
        });
    }
</script>
</body>
</html>