<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui-v2.4.5/layui/css/layui.css" media="all">
    <script src="/layui-v2.4.5/layui/layui.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/tools.js"></script>
    <script src="/js/show.js"></script>

    <!--<script src="/js/addBill.js"></script>-->
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <form id="selectForm" enctype="multipart/form-data" class="layui-form">
            业务所属公司<select style="width:100px" id="selectCompany" name="company" lay-ignore>
            <option>--选择公司--</option>
        </select>
            业务所属部门<select style="width:100px" id="selectDep" name="dep" lay-ignore>
            <option>--选择部门--</option>
        </select>
            属性<select style="width:100px" name="attribute" id="attribute" lay-ignore>
            <option>正常</option>
            <option>需要报备</option>
        </select>
            类别<select style="width:100px" name="type" id="type" lay-ignore>
            <option>支出</option>
            <option>收入</option>
        </select>
            发票状态<select style="width:100px" name="invoice" id="invoice" lay-ignore></select><br><br>
            合同状态<select style="width:110px" name="contract" id="contract" lay-ignore></select>
            报销单号<input type="text" style="width:110px" name="billId" id="billId">
            经办人<input type="text" style="width:110px" name="chargePerson" id="chargePerson">
            登记人<input type="text" style="width:110px" name="registrantPerson" id="registrantPerson">
            <!--财务经手人<input type="text" style="width:110px" name="">-->
            备注<input type="text" style="width:110px" name="summary" id="summary"><br><br>
            科目<input style="width:110px" name="subject" id="subject">
            产生日期<input type="date" style="width:120px" name="produceData" id="produceData">
            登记日期<input type="date" style="width:120px" name="registrantDate" id="registrantDate">
            结束日期<input type="date" style="width:120px" name="endDate" id="endDate">
            金额<input type="text" style="width:60px" name="amountLow" id="amountLow">至<input type="text" style="width:60px"
                                                                             name="amoutHigh" id="amoutHigh">
            <input type="button" value="查询" class="layui-btn layui-btn-normal layui-btn-radius" onclick="reloadBillTable()">
        </form>
    </div>
    <div class="layui-row">
        <table id="billTable" lay-filter="billTable"></table>
    </div>
</div>
</div>
<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="thisMonth">本月</button>
        <button class="layui-btn layui-btn-sm" lay-event="done">已审核的</button>
        <button class="layui-btn layui-btn-sm" lay-event="toAudit">待审核</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="writeAndPast">登记被驳回</button>
    </div>
</script>
</body>
</html>