<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui-v2.4.5/layui/css/layui.css" media="all">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/tools.js"></script>
    <script src="/js/show.js"></script>
    <script src="/layui-v2.4.5/layui/layui.js"></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <form id="selectForm" enctype="multipart/form-data" class="layui-form">
            业务所属公司<select style="width:110px" id="selectCompany" name="company" lay-ignore><option>--选择公司--</option></select>
            业务所属部门<select style="width:110px" id="selectDep" name="dep" lay-ignore></select>
            属性<select style="width:110px" name="attribute" id="attribute" lay-ignore>
            <option>正常</option>
            <option>取消</option>
        </select>
            类别<select style="width:110px" name="type" id="type" lay-ignore>
            <option>收入</option>
            <option>支出</option>
        </select>
            发票状态<select style="width:110px" name="invoice" id="invoice" lay-ignore></select><br><br>
            合同状态<select style="width:110px" name="contract" id="contract" lay-ignore></select>
            报销单号<input type="text" style="width:110px" name="billId" id="billId">
            经办人<input type="text" style="width:110px" name="chargePerson" id="chargePerson">
            登记人<input type="text" style="width:110px" name="registrantPerson" id="registrantPerson">
            <!--财务经手人<input type="text" style="width:110px" name="">-->
            备注<input type="text" style="width:110px" name="summary" id="summary"><br><br>
            科目<input style="width:110px" name="subject" id="subject">
            产生日期<input type="date" style="width:120px" name="produceData" id="produceData">
            登记日期<input type="date" style="width:120px" name="registrantDate" id="registrantDate">
            结束日期<input type="date" style="width:120px" name="endDate" id="endDate">
            金额<input type="text" style="width:60px" name="amountLow">至<input type="text" style="width:60px"
                                                                             name="amoutHigh">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="查询" class="layui-btn layui-btn-normal layui-btn-radius">
        </form>
    </div>
</div>
</div>
<script>
    layui.use('form', function () {
        form = layui.form;
        form.render();
    })
</script>
</body>
</html>